# フィルター設定
#
# 書式:
# 空白行と#から始まるコメント行は無視する。
# それ以外の行は'+'か'-'で始め、2文字目以降は正規表現の式にする。
# 対象ファイルの判定:
# 正規表現を上から順番に試し、ディスクルートからの相対パスがマッチする式を探す。
# マッチする式が見つかったら行頭の記号を確認し、'+'ならそのファイルのハッシュ計算を行う。
# '-'なら行わない。
# 複数の式が相対パスとマッチしても、最初の式の行頭記号で判定は確定する。
# マッチする式が見つからなければハッシュ計算の対象にしない。
# Windowsで実行してもパスはスラッシュ区切りになる。

-/desktop\.ini$
-/Thumbs\.db$
-/\.DS_Store$
+.*
